<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hithesh.leakter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.example.hithesh.leakter.LoginActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="com.example.hithesh.leakter.RegisterActivity" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".predict" />
        <activity android:name=".sensod" />
        <activity android:name=".infrd" />
        <activity android:name=".plorder" />
        <activity android:name=".order"></activity>
    </application>
</manifest>